.head{
    background-color: rgb(85, 204, 204);
    background-size: cover;    
    padding-top: 40px;
   
}
body{
    margin: 0;
}
.ima img{
height: 200px;
display: flex;
justify-content: center;
}

.card {
margin: 10px;
border: 20px black;

}